@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

.profile-container {
  display: flex;
  margin: 20px;
  font-family: "Roboto", sans-serif;
  width: 100%;
  height: calc(100vh - 40px);
  background-color: rgb(241, 238, 238);
  padding: 15px;
}

.profile-sidebar {
  width: 300px;
  border-right: 2px solid rgb(241, 238, 238);
  padding-right: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  text-align: center;
}

.profile-picture {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  margin-bottom: 10px;
}

.profile-header h2 {
  font-size: 24px;
  color: black;
  margin: 0;
}

.profile-sidebar ul {
  list-style-type: none;
  padding: 0;
  width: 100%;
}

.profile-sidebar ul li {
  margin: 10px 0;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.profile-sidebar ul li:hover,
.profile-sidebar ul li.active {
  background-color: #007bff;
  color: white;
}

.profile-details {
  flex: 1;
  padding: 20px;
  background-color: #f9f9f9;
  border-left: 2px solid #ddd;
}

.content-section {
  background-color: rgb(241, 238, 238);
  width: 97%;
  height: 100%;
  padding: 20px;
}

.content-section hr{
  color: #c0bcba;
}


.content-item {
  display :flex;
  align-items: center;
  margin-bottom: 10px;
  padding :10px;
}

.content-item label {
  display: block;
  flex :0 0 120px;
  font-weight: bold;
  margin-bottom: 5px;
}

.content-item p {
  margin: 0;
  color:#8c9498
}

.content-section h3 {
  font-size: 22px;
  margin-top: 0;
  padding: 10px;
  margin-bottom: 20px;
}

.content-section button {
  width : 10%;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 40px;
}

.content-section button:hover {
  background-color: #0056b3;
}

p,
ul {
  font-size: 16px;
}

ul {
  padding-left: 20px;
}

.logout-button {
  width: 250px;
  margin-top: 70px;
  padding: 10px 20px;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.logout-button:hover {
  background-color: #c82333;
}

.badge-list p {
  padding :20px;
}

.badge-list hr{
  color: #c0bcba;

}
.donation-list p{
  padding :20px;
}
.settings-list p{
  padding :20px;
}

.support-list p{
  padding :20px;
}

.event-list h4{
  padding :20px;

}
.event-list li{
  padding :10px;
}